<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $(".movie").hover(function(){
      $(this).css("background-color", "#e6f0ff");
    }, function(){
      $(this).css("background-color", "white");
    });
  });

  function showReserveMovieButton(movie_id) {
    var x = document.getElementById("btn_"+movie_id);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function reserveMovie(btn_id){
    alert(btn_id);
  }

</script>

<h1>
    {{ pageTitle }}
</h1>

<p>
  Please select movie genre for which you would like to make a reservation
</p>


<div>
  <form action="" method="post">
    {% for category in movie_categories %}
      <input type="checkbox" name="categories[]" value="{{ category.tid }}" /> {{ category.name }}
      <br>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
  <br>
</div>

<div>
  {% set no_movie_available = true %}

  {% for movie in movies %}
    {% set movie_availability = get_movie_availability(movie) %}
    {% if movie_availability != false %}
      {% set no_movie_available = false %}
      <div class="movie" id="{{ movie.nid.value }}" onclick="showReserveMovieButton(this.id)" >
        <div>
          {{ movie.title.value }}
        </div>

        <img src="{{ file_url(movie.field_image_field.0.entity.uri.value) }}" style="height: 200px;"  alt="No img"/>

        {% autoescape false %}
          <div>{{ movie.field_description.value }}</div>
        {% endautoescape %}

        <div>
          <p>
            Movie is available for:
          </p>
          {% for key in movie_availability|keys %}
            <p style="color:green;">
              {{ key }}
            </p>
          {% endfor %}
        </div>

        <div>
          <button type="button" id="btn_{{ movie.nid.value }}" onclick="reserveMovie(this.id)" hidden>Reserve this movie</button>
        </div>

      </div>
      <br>

    {% endif %}
  {% endfor %}

  {% if no_movie_available == true %}
    <p>Sorry, there are no movies currently available. :(</p>
  {% endif %}
</div>


