<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>
    {{ pageTitle }}
</h1>

{{ set_all_movie_categories(movie_categories) }}
{{ set_all_halls(halls) }}

<div>
  <form action="" method="post">
    <label>
      Please select movie genre for which you would like to make a reservation
    </label>
    <br>
    {% for category in movie_categories %}
      <input type="checkbox" name="categories[]" value="{{ category.tid }}" /> {{ category.name }}
      <br>
    {% endfor %}
    <input type="submit" value="Filter movies by categories">
  </form>
  <br>
</div>

<div>
  <p>You must insert your name and click "Check your name" to reserve a movie!</p>
  <label>Type your name:</label>
  <input type="text" name="customer_name" id="customer_name" />
  <input type="submit" value="Check your name" onclick="validate_customer_form()">
</div>

<div id="reservation_submit_status_message">

  {#---------------Successfull reservation messages----------------------#}
  {% if reservation_status == 'recorded' %}
    <p class="successful_reservation">
      Your reservation has been successfully recorded.<br>
      Movie <span class="movie_span">"{{ movie_basic_data.title }}"</span><br>
      Time <span class="movie_span">"{{ get_time_from_datetime(movie_basic_data.date) }}"</span><br>
      Date <span class="movie_span">"{{ get_date_from_datetime(movie_basic_data.date) }}"</span><br>
      Hall <span class="movie_span">"{{ movie_basic_data.hall }}"</span>
    </p>
  {% endif %}
  {#---------------end of successfull reservation messages---------------#}

  {#---------------Warning messages-----------------------------#}
  {% if reservation_status == 'two_reservations_same_time_diff_movie' %}
    <p class="warning_reservation">
      You already have a reservation for other movie at that time. Show button for confirming reservation or what?
      Movie <span class="movie_span">"{{ movie_basic_data.title }}"</span><br>
      Time <span class="movie_span">"{{ get_time_from_datetime(movie_basic_data.date) }}"</span><br>
      Date <span class="movie_span">"{{ get_date_from_datetime(movie_basic_data.date) }}"</span><br>
      {#need code for same hall as well#}
    </p>
  {% endif %}
  {#---------------End of warning messages----------------------#}

  {#----------------Failed reservation messages--------------------#}
  {% if reservation_status == 'already_reserved' %}
    <p class="reservation_message_failed">You already have a reservation for:
      Movie <span class="movie_span">"{{ movie_basic_data.title }}"</span><br>
      Time <span class="movie_span">"{{ get_time_from_datetime(movie_basic_data.date) }}"</span><br>
      Date <span class="movie_span">"{{ get_date_from_datetime(movie_basic_data.date) }}"</span><br>
  {% endif %}

  {% if reservation_status == 'no_avail_tickets' %}
    <p class="reservation_message_failed">There are no more available tickets for:
      Movie <span class="movie_span">"{{ movie_basic_data.title }}"</span><br>
      Time <span class="movie_span">"{{ get_time_from_datetime(movie_basic_data.date) }}"</span><br>
      Date <span class="movie_span">"{{ get_date_from_datetime(movie_basic_data.date) }}"</span><br>
    </p>
  {% endif %}

  {% if reservation_status == 'no_customer_name' %}
    <p class="reservation_message_failed">You must insert name and click 'Check your name'</p>
  {% endif %}
  {#------------end of failed reservation messages---------------#}

  {#------------Critical error messages, under no circumstances should occur in production-#}
  {% if reservation_status == 'num_tickets_negative' %}
    <p class="reservation_message_critical_error">Number of tickets is negative xd something in code doesnt work and I would like to know what!</p>
  {% endif %}

  {% if reservation_status == 'num_tickets_null' %}
    <p class="reservation_message_critical_error">Number of tickets is null!</p>
  {% endif %}

  {#------------End of critical error messages----------------------------------------------#}

</div>

<div>
  {% set no_movie_available = true %}
  {% for movie in movies %}

    {#Checks if movie has at least one airing#}
    {% if movie.field_movie_air_info.0.entity.field_num_remain_tickets is not empty %}

      {% set movie_data = get_available_movie_data(movie) %}
      {% if movie_data is not null %}
        {% set no_movie_available = false %}
        <div class="movie" id="{{ movie.nid.value }}">
          <p class="movie_title">{{ movie.title.value }}</p>
          <img src="{{ file_url(movie.field_image_field.0.entity.uri.value) }}" class="movie_img" alt="No img"/>
          {% autoescape false %}
            <div>{{ movie.field_description.value }}</div>
          {% endautoescape %}
          <div class="reserve_movie_button" id="btn_{{ movie.nid.value }}">
            <button type="button" >Reserve this movie</button>
          </div>

          <div id="popup_{{ movie.nid.value }}" class="popup" hidden>
              <div>
                <p>Movie is available for: </p>
                {% for movie_air in movie_data %}
                  <p id="{{ movie.nid.value }}_{{ movie_air.day }}" class="availability_by_day">
                    Day: {{ movie_air.day }}, Time: {{ movie_air.time}}, Remaining tickets: {{ movie_air.remaining_tickets }}, Hall: {{ movie_air.hall }}
                  </p>
                  <form action="" method="post">
                    <input type="hidden" name="movie_reservation[customer_name_validated]" class="customer_name" id="customer_name/{{ movie.nid.value }}/{{ movie_air.day }}" >
                    <input type="hidden" name="movie_reservation[movie_id_for_reservation]" value="{{ movie.nid.value }}">
                    <input type="hidden" name="movie_reservation[day_for_reservation]" value="{{ movie_air.day }}">
                    <input type="hidden" name="movie_reservation[air_info_id]" value="{{ movie_air.air_info_id }}">
                    <input type="submit" class="btn_final_reserve_movie" id="btn_{{ movie.nid.value }}_{{ movie_air.day }}" value="Confirm your movie reservation"/>
                  </form>
                {% endfor %}
              </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if no_movie_available == true %}
    <p style="background-color: lightcoral;">Sorry, there are no movies currently available. :(</p>
  {% endif %}
</div>
