<h1>
    {{ pageTitle }}
</h1>

<p>
  Please select movie genre for which you would like to make a reservation
</p>

<div>
  <select>
  {% for category in movie_categories %}
    <option value="{{ category.tid }}">
      {{ category.name }}
    </option>
  {% endfor %}
  </select>
</div>

<div>
  {% for movie in movies %}
    {% set movie_availability = get_movie_availability(movie) %}
    {% if movie_availability != false %}

      <div id="movie">

        <div>
          {{ movie.title.value }}
        </div>

        <img src="{{ file_url(movie.field_image_field.0.entity.uri.value) }}" style="height: 200px;"  alt="No img"/>

        {% autoescape false %}
          <div>{{ movie.field_description.value }}</div>
        {% endautoescape %}

        <div>
          <p>
            Movie is available for:
          </p>
          {% for key in movie_availability|keys %}
            <p style="color:green;">
              {{ key }}
            </p>
          {% endfor %}
        </div>

      </div>
      <br>

    {% endif %}
  {% endfor %}
</div>


